CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DB_ADMIN=
DB_PASSWORD=
DB_NAME=Security_By_Design
DB_COLLECTION_IMAGES=Images
DB_COLLECTION_POSTS=Posts
DB_COLLECTION_USERS=Users
JWT_SECRET=
NODE_ENV=development

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

TLS_ENABLED=false
TLS_CERT_PATH=./certs/server.crt
TLS_KEY_PATH=./certs/server.key

PORT=5000